#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  align-content: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y:auto;
  height:auto;
  animation: gradientFlow 15s ease infinite;
}

html {
  height: 100%; /* Ensure html takes at least the full viewport height */
  /* background: linear-gradient(270deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e, #ff9a9e) repeat; */
  background: linear-gradient(270deg, #168eff, #3527d2, #91eafa, #ff9a9e, #ff9a9e) repeat;
  background-size: 400% 400%;
  animation: gradientFlow 15s ease infinite;
}
.landing {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: auto; /* Sets the width to 100% of the viewport width */
  height: 100%;
  margin: 10px;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
